<!DOCTYPE html>
<html>

<head>
    {%block head%}
        <link rel="stylesheet" , href="{{url_for ('static',filename='styles/style.css')}}">
        <link rel="icon" href="{{ url_for('static', filename='img/ptclogo.png') }}">
        <script type="text/javascript" src="{{url_for ('static',filename='scripts/validate_forms.js')}}"></script>

        {%if title%}
            <title>
                Newsletter | {{title}}
            </title>
        {%else%}
            <title>
                Newsletter
            </title>
        {%endif%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {%endblock%}
</head>

<body>
    {%block content%}
    {%endblock%}
</body>

</html>