<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet", href = "{{url_for ('static',filename='styles/style.css')}}">
        <script type="text/javascript" src="{{url_for ('static',filename='scripts/validate_forms.js')}}"></script>
        {%if title%}
        <title>
            Newsletter | {{title}} 
        </title>
        {%else%}
        <title>
            Newsletter 
        </title>
        {%endif%}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!--h3 class = "header">Newsletter</h3-->
        {%block content%}
        
        {%endblock%}
    </body>
</html>