{%extends "layout.html"%}
    {% block content %}
        <div>
        <form class = "round" action = "http://127.0.0.1:5000/request_signup" method = "post">
            <br><label for="user_name">Name:</label><br>
            <input type="text" name="user_name" placeholder="Name" required><br>
            <label for="user_surname">Surname:</label><br>
            <input type="text" name="user_surname" placeholder="Surname" required><br>
            <label for="email">E mail:</label><br>
            <input type="text" name="email" placeholder="someone@example.com" required><br>
            <label for="pswd">Password:</label><br>
            <input type="password" name="pswd"><br>
            <input type="submit" value="Submit"><br>
        </form>
        </div>
    {% endblock content %}