input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(226, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(226, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #submit {
    background-color: rgba(110, 190, 77, 1);
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
  }

  #post_button {
    background-color: rgba(110, 190, 77, 1);
    padding: 8px 20px;
    margin: 4px 0;
    color: black;
  }

  button {
    background-color: rgba(110, 190, 77, 1);
    padding: 4px 10px;
    margin: 4px 0;
    color: black;
  }

  body  {
    background-color: rgba(246, 246, 246, 0.733)
  }
   
  div {
    background-color: white;
    margin-right: 550px;
    margin-left: 450px;
  }

  #index_page_div { 
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  #new_feed_div {
    border-style: hidden;
    margin-top: 10px;
    padding: 0.4%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  }

  #show_feed_div {
    margin-top: 5px;
    max-width: 650px;
    padding: 20px;
    margin: 30px auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .user_name {
    font-weight: normal;
    float: left;
  }
  
  .location {
    color: rgb(136, 136, 136);
    float: right;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(77, 88, 90, 1);
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: rgba(110, 190, 77, 1);
  }

