input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(226, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(226, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #submit {
    background-color: #4CAF50;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
  }

  #post_button {
    background-color: rgba(206, 206, 206, 0.918);
    padding: 8px 20px;
    margin: 4px 0;
  }
   
  div {
    border-radius: 5px;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 550px;
    margin-left: 450px;
  }

  #index_page_div {
    background-color: white;
  }

  #other_page_div {
    border-style: groove;
    padding: 5px;
    margin-bottom: 10px;
  }

