input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(226, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(226, 202, 202);
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  #submit {
    background-color: #4CAF50;
    width: 100%;
    padding: 14px 20px;
    margin: 8px 0;
  }

  #post_button {
    background-color: rgba(206, 206, 206, 0.918);
    padding: 8px 20px;
    margin: 4px 0;
    color: black;
  }
   
  div {
    border-radius: 5px;
    background-color: white;
    margin-right: 550px;
    margin-left: 450px;
  }

  #index_page_div { 
    padding: 20px;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  #new_feed_div {
    border-style: groove;
    margin-top: 10px;
    padding: 0.4%;
  }

  #show_feed_div {
    border-style: groove;
    margin-top: 10px;
    padding: 0.4%;
  }

  .show_feed_div_class {
    border-style: groove;
    margin-top: 10px;
    padding: 0.4%;
    color: black;
    background-color: #4CAF50;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white ;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .active {
    background-color: #4CAF50;
  }

